* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #292929;
    color: #d3d3d3;
    padding: 0 2em;
}

.site-header a, .site-header a:visited {
    color: #d3d3d3;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
}

.container {
    width: auto;
}

h1 {
    color: #292929;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    line-height: 1.5em;
}

p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    line-height: 1.5em;
}

p img {
    border-radius: 5px;
    width: 250px;
    height: auto;
    margin-right: 10px;
    float: left;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background: #e74c3c;
    color: #2b2e30;
    padding: 2em;
}

.site-footer a {
    color: #f0f0f0;
}