.kmom-grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    gap: 1em 1em;
}

.kmom-menu {
    grid-column: 1/1;
    background-color: #FFC7DF;
    height: auto;
}

.kmom-report {
    grid-column: 2/2;
    margin-bottom: 20px;
    background-color: #FFC7DF;
    border-radius: 20px;
}

.kmom-report p,
ul {
    max-width: 700px;
    padding: 20px;
    line-height: 1.5em;
}

.kmom-report table {
    margin: auto;
}

.kmom-report a,
.kmom-menu a,
.kmom-report a:visited,
.kmom-menu a:visited {
    color: #362c41;
}

.kmom-report img {
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .kmom-grid > div:nth-child(1) {
        visibility: hidden;
        width: 1px;
        height: 1px;
    }

    .kmom-grid {
        grid-template-columns: 1fr;
    }

    .kmom-report {
        grid-column: 1/1;
    }
}
