$my-main-font: 'Libre Franklin', sans-serif;
$my-main-color: #2a0045;
$my-text-color: #e0e0bb;
$my-header-color: #9b9b81;
$link-color: #9b9b81;
$accent-tricolor1: #6c00ab;
$accent-tricolor2: #4e007a;
$accent-tricolor3: #45006e;
@import '../../shared/scss/base';
@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Nerko+One&family=Noto+Sans+TC&family=Raleway:wght@200&display=swap');
@import 'report';
@import 'kmom';

* {
    font-family: $my-main-font;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: $my-main-color;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: $my-main-color;
    color: $link-color;
    padding: 0 2em;
    margin: auto;
}

.site-header ul {
    list-style-type: none;
}

.site-header li {
    float: left;
    padding: 16px;
}

.site-header a,
.site-header a:visited {
    color: $link-color;
    font-size: 20px;
    text-align: center;
}

// Main content

.main {
    padding: 2em;
    width: auto;
    background-color: $my-main-color;
    margin: auto;
}

p {
    padding: 20px;
    color: $my-text-color;
}

a {
    color: $link-color;
}
  
.container {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-item1 {
    flex-basis: 40%;
    padding: 10px;
    line-height: 1.5em;
}

.container-item2 {
    flex-basis: 20%;
    padding: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.container-item3 {
    flex-basis: 30%;
    padding: 10px;
    box-shadow: 10px 10px rgba($color: #000, $alpha: 0.8);
}

.container-item3 img {
    filter: brightness(80%);
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 3em;
    padding-left: 20px;
    color: $my-header-color;
}

h1 {
    font-family: 'Nerko One', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

// Footer

.site-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row: auto;
}

.social {
    background: $accent-tricolor1;
    color: $link-color;
    padding: 2em;
}

.footer-grid2 {
    background: $accent-tricolor2;
    color: $link-color;
    padding: 2em;
}

.footer-grid3 {
    background: $accent-tricolor3;
    color: $link-color;
    padding: 2em;
}

.site-footer a {
    color: $link-color;
}

.flash-img {
    object-fit: cover;
}
